* {
  margin: 0;
}
body {
  font-family: "Lexend Deca", sans-serif;
}
.main-container {
  margin: 10px;
}
.container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 97vh;
  gap: 0.1rem;
  border-radius: 10px;
}
.side-panel {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #f4f4f4;
  border-radius: 20px;
  padding: 20px;
  height: 94vh;
}
.menu {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger_menu {
  cursor: pointer;
  display: inline-block;
}
.burger_menu span {
  background: #7c7c7c;
  height: 4px;
  width: 25px;
  display: block;
  position: relative;
  border-radius: 10px;
  transition: all ease 0.1s;
}
.burger_menu span:after,
.burger_menu span:before {
  background: #7c7c7c;
  height: 4px;
  width: 25px;
  border-radius: 10px;

  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 7px;
  transition: all ease 0.2s;
}
.burger_menu span:before {
  top: -7px;
}

/* Open Menu */
.burger_menu.open span {
  background: transparent;
}
.burger_menu.open span:before {
  transform: rotate(45deg);
  top: 0;
}
.burger_menu.open span:after {
  transform: rotate(-45deg);
  top: 0;
}
.search-bar {
  margin: 15px 0px;
  padding: 10px;
  border: solid 1px #aaa8a8;
  display: flex;
  border-radius: 5px;
}
.search-bar p {
  margin-right: 20px;
  color: #aaa8a8;
}
.task-section {
}
.list-item {
  margin: 5px 5px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-item div {
  display: flex;
  gap: 1rem;
}
.category-color {
  height: 18px;
  width: 18px;

  border-radius: 5px;
}
.category-color.orange,
.tag li div.orange {
  background-color: #ff6b6b;
}
.category-color.yellow,
.tag li div.yellow {
  background-color: #ffd43a;
}

.category-color.blue,
.tag li div.blue {
  background-color: #66d9e8;
}

.amount {
  background-color: #ebebeb;
  padding: 1px 7px;
  border-radius: 3px;
}
.active {
  background-color: #ebebeb;
  border-radius: 5px;
}
ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
li:hover {
  background-color: #ebebeb;
}
.tag li {
  float: left;
  margin-right: 10px;
}
.tag li div {
  margin: 0px 5px;
  background-color: #d4d3d3;
  padding: 0px 5px;
  border-radius: 10px;
}
.tag li div:hover {
}
.tag li:hover {
  background-color: #f4f4f4;
}
#task {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

footer {
  position: absolute;
  bottom: 40px;
}
footer div {
  margin-bottom: 15px;
  display: flex;
  gap: 1rem;
}
footer div p {
  font-size: 20px;
  color: #444444;
  text-transform: none;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 24px;
  white-space: pre-line;
  opacity: 1;
  visibility: visible;
  font-family: "Lexend Deca";
}
.main-panel {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}

.main-title {
  font-size: 55px;
  margin-bottom: 30px;
}
.sticky-layout {
  border: solid 1px #f4f4f4;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 10px;
  padding: 30px 0;
  padding-left: 70px;
}
.sticky-wall {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  gap: 2rem;
}
.sticky {
  padding: 30px 30px;
  color: #444444ff;
  width: 300px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(133, 132, 132, 0.2),
    0 6px 20px 0 rgba(131, 129, 129, 0.2);

  overflow: hidden;
}
.sticky h2 {
  margin-bottom: 5px;
  color: #181b1de0;
}
.sticky p {
  width: 300px;
  margin-bottom: 5px;
  text-align: justify;
}

.sticky ul {
  padding-left: 15px;
  list-style: none;
  height: 230px;
  overflow: hidden;
}
.sticky li {
  display: block;
  width: 260px;
  margin: 5px 0px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}
.yellow {
  background-color: #fdf2b3;
}
.blue {
  background-color: #d1e9ee;
}
.pink {
  background-color: #ffdbda;
}
.orange {
  background-color: #ffd4a9;
}
.add {
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10;
}
.add span {
  font-size: 140px;
  margin-top: -25px;
  color: #212529;
}
p span {
  text-decoration: line-through;
  color: #7c7c7c;
}
.item-icon {
  width: 20px;
  height: 20px;
}
